@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");
 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-light: #ccc;
    --clr-dark: #0A1045;
    --clr-primary: #7d7d7d;
    --clr-secondary: #f6f6f6;
    --clr-accent: #009FFD;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

.darkMode {
    --clr-light: #606470;
    --clr-dark: #353941;
    --clr-primary: #90959a;
    --clr-secondary: #26282b;
    --clr-accent: #3b50d2;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}

body {
    background-color: var(--clr-secondary);
}

.darkMode body {
    background-color: var(--clr-primary);
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor; 
    padding: 4px; 
    background: transparent;
    cursor: default;
    border-radius: 5px;
    width: 30px;
    height: 30px;

}

.header {
    padding: 30px;
    background-color: var(--clr-primary);
    color: var(--clr-dark);
    font-size: 30;
    border-bottom: 1px solid var(--clr-light);
}

.darkMode .header {
    background-color: var(--clr-primary);
    border-bottom: 1px solid var(--clr-light);
    color: var(--clr-dark);
}

#refreshPage {
    text-align: center;
    text-decoration: none;
}

a#refreshPage {
    cursor: pointer;
}

#myTunes {
    font-family: "Arial", sans-serif;
    color: white;

}

.darkMode #myTunes {
    color: var(--clr-secondary);
}

#totally {
    font-family: "Arial", sans-serif;
    text-align: center;
    cursor: default;
    color: white;
}

.darkMode #totally {
    color: var(--clr-secondary);
}

#darkModeSwitch {
    cursor: default;
}

#currentSongContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.darkMode #dynamicContainer {
    background-color: var(--clr-secondary);
}

#currentSongBox {
    border: 1px solid var(--clr-light);
    box-shadow: 3px 3px 5px #00000020,
    -3px -3px 5px #ffffff;
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border-radius: 5%;
    width: 50%;
    padding: 2%;
    margin: 2px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.darkMode #currentSongBox {
    border: 1px solid #363e4a;
    box-shadow: 3px 3px 5px rgba(147, 154, 162, .1),
                -3px -3px 5px rgba(58, 63, 72, .5);
    background: linear-gradient(140deg, rgba(80, 88, 100, 1), rgba(38, 40, 43, 0.1));
    border-radius: 5%;
    width: 50%;
    padding: 2%;
    margin: 2px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* #currentSongBox:hover {
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.3));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
} */

#currentSongImgContainer { 
    border: 2px solid blue; 
    width: 80px;
    height: 80px;
    border-radius: 15%;
}

#currentSongImg {
    width: 80px;
    height: auto; 
    border-radius: 15%; 
    margin-right: 10px; 
    box-shadow: 3px 3px 5px #00000020,
                -3px -3px 5px #ffffff;
}

.darkMode #currentSongImg { 
    width: 80px;
    height: 80px;
    border-radius: 15%;
    box-shadow: 3px 3px 5px rgba(147, 154, 162, .6),
                -3px -3px 5px rgba(58, 63, 72, .8);
}

#currentSongInfo {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    overflow: hidden;
}

#currentSongName {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.darkMode #currentSongName {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #ccc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

#currentSongArtist {
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-top: 5px;
}

.darkMode #currentSongArtist {
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    color: #a7abb0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-top: 5px;
}

#currentSongGenre {
    font-family: "Arial", sans-serif;
    font-size: 14px; 
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-top: 5px;
}

.darkMode #currentSongGenre {
    font-family: "Arial", sans-serif;
    font-size: 14px; 
    color: #898c91;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-top: 5px;
}

#musicPlayerContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#musicPlayer {
    width: 50%;
    height: 40px; 
    line-height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;  
    background-color: var(--clr-primary);
    outline: none;
}

form {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    padding: 20px 0px 0px 0px;
    margin-bottom: 20px;
}

.darkMode form {
    background-color: var(--clr-secondary);
}

#searchContainer {
    border-top: 1px solid var(--clr-light);
}

.darkMode #searchContainer {
    background-color: var(--clr-secondary);
    border-top: 1px solid var(--clr-light);
}

#search-input {
    width: 300px;
    height: 40px; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--clr-light);
    border-radius: 20px; 
    background-color: var(--clr-secondary);
}

.darkMode #search-input {
    color: white;
}

#searchType {
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--clr-accent);
    border: 2px solid var(--clr-light);
    border-radius: 20px; 
    background-color: var(--clr-secondary);
    cursor: pointer;
}

.darkMode #searchType {
    color: white; /* Set the font color to white in dark mode */
  }

#searchButton {
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--clr-accent);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

#searchButton:active {
    animation: clickEffect 0.3s ease;
    }
    
    @keyframes clickEffect {
    0% {
        box-shadow: inset 2px 2px 4px rgba(16, 16, 16, 0.1), inset -2px -2px 4px #fff;
        background-color: #f9f9f9;
    }
    100% {
        box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
        background-color: #007bff;
    }
}

#errorBox {
    border-top: 1px solid var(--clr-light);
}

#messageBox {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 18;
    color: slategrey;
    margin-top: 8px; 
}

#searchResults {
    /* border-top: 1px solid var(--clr-light); */
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.darkMode #searchResults {
    /* border-top: 1px solid var(--clr-light); */
    background-color: var(--clr-secondary);
}

.darkMode #resultsContainer {
    background-color: var(--clr-secondary);
}

.songBox {
    border: 1 px lightgrey;
    /* box-shadow: 3px 3px 5px #00000020, -3px -3px 5px #ffffff; */
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 22%;
    padding: 2%;
    margin: 8px;
}

.songBox:hover {
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.3));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.songBox:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
                inset -2px -2px 4px #fff;
    background-color: #f9f9f9;
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.darkMode .songBox {
    border: 1px solid #363e4a;
    box-shadow: 3px 3px 5px rgba(147, 154, 162, .1),
                -3px -3px 5px rgba(58, 63, 72, .5);
    background: linear-gradient(140deg, rgba(80, 88, 100, 1), rgba(38, 40, 43, 0.1));
}

.darkMode .songBox:hover {
    background: linear-gradient(140deg, rgba(66, 85, 113, 0.8), rgba(32, 54, 86, 0.8));
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 8px 16px rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.darkMode .songBox:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
} 

.artistBox {
    border: 1 px lightgrey;
    box-shadow: 3px 3px 5px #00000020, -3px -3px 5px #ffffff;
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));
    display: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 30%;
    padding: 2%;
    margin: 8px;
}

.artistBox:hover {
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.3));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.artistBox:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
                inset -2px -2px 4px #fff;
    background-color: #f9f9f9;
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.darkMode .artistBox {
    border: 1px solid #363e4a;
    box-shadow: 3px 3px 5px rgba(147, 154, 162, .1),
                -3px -3px 5px rgba(58, 63, 72, .5);
    background: linear-gradient(140deg, rgba(80, 88, 100, 1), rgba(38, 40, 43, 0.1));
}

.darkMode .artistBox:hover {
    background: linear-gradient(140deg, rgba(66, 85, 113, 0.8), rgba(32, 54, 86, 0.8));
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 8px 16px rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.darkMode .artistBox:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.image {
    margin: 0; 
    border-radius: 5%;
    box-shadow: 3px 3px 5px #00000020,
                -3px -3px 5px #00000020;
}

.darkMode .image {
    margin: 0; 
    border-radius: 5%;
    box-shadow: 3px 3px 5px rgba(147, 154, 162, .3),
                -3px -3px 5px rgba(58, 63, 72, .8);
}

.imageBox {
    margin: 0;
    border-radius: 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.title {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.darkMode .title {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #ccc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist {
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.darkMode .artist {
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    color: #a7abb0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.artistBold {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.darkMode .artistBold {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #ccc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artistWrap {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.darkMode .artistWrap {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #ccc;
    text-align: center;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.album {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.darkMode .album {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #ccc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.genre {
    /* border: 1px dotted yellow;  */
    font-family: "Arial", sans-serif;
    font-size: 12px; 
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.darkMode .genre {
    /* border: 1px dotted yellow;  */
    font-family: "Arial", sans-serif;
    font-size: 12px; 
    color: #898c91;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.genreBig {
    /* border: 1px dotted yellow;  */
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.darkMode .genreBig {
    /* border: 1px dotted yellow;  */
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    color: #898c91;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}