* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .main {
    display: flex;
    flex-wrap: ;
  } */

header {
    /* border: 2px dotted darkgreen;  */
    padding: 30px;
    background: #7d7d7d;
    color: white;
    font-size: 30;
    border-bottom: 1px solid #ccc;
}

#totally {
    font-family: "Arial";

}

.musicPlayerContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#musicPlayer {
    width: 500px;
    height: 40px; 
    line-height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;  
    background-color: #fff;
    outline: none;
}

form {
    border-top: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    background-color: #f9f9f9;
    padding: 20px 0px 0px 0px;
    margin-bottom: 20px;
}

#search-input {
    width: 300px;
    height: 40px; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px; 
}

#searchButton {
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

#searchButton:active {
    animation: clickEffect 0.3s ease;
    }
    
    @keyframes clickEffect {
    0% {
        box-shadow: inset 2px 2px 4px rgba(16, 16, 16, 0.1), inset -2px -2px 4px #fff;
        background-color: #f9f9f9;
    }
    100% {
        box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
        background-color: #007bff;
    }
    }

#searchResults {
    border-top: 1px solid #ccc;
    padding: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.songBox {
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px #00000020,
                -3px -3px 5px #ffffff;
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.1));           
    display: column;
    justify-content: center;
    border-radius: 5%; 
    width: 20%;
    padding: 2%; 
    margin: 2px; 
}

.songBox:hover {
    background: linear-gradient(140deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.3));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: box-shadow 0.3s, transform 0.3s;
}

.songBox:active {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
                inset -2px -2px 4px #fff;
    background-color: #f9f9f9;
    transform: translateY(1px);
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s;
}

.image {
    margin: 0; 
    border-radius: 5%;
    box-shadow: 3px 3px 5px #00000020,
                -3px -3px 5px #ffffff;
}

.imageBox {
    margin: 0;
    border-radius: 5%; 
}

.title {
    /* border: 1px dotted yellow;  */
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold; 
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist {
    /* border: 1px dotted yellow;  */
    font-family: "Arial", sans-serif;
    font-size: 16px; 
    color: #666;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}